<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Create manufacture response</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand">Motorcycles</a>
        </div>
        <ul class="nav navbar-nav">
            <li class="active"><a href="/">Home</a></li>
        </ul>
    </div>
</nav>
<div class="container">
    <h4>Created</h4>
    <div class="well">
        <h5><p th:text="'Manufacture: ' + ${manufacture.getDescription()}"/></h5>
        <h5><p th:text="'Country: ' + ${manufacture.getCountry()}"/></h5>
    </div>
    <form action="/manufacture/create">
        <input type="submit" class="btn btn-primary" value="Create another one manufacture"/>
    </form>
</div>
</body>
</html>